@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);

html body header#header{
	background-color: #1C1F26;
	font-family: helvetica;
	background-image: url('/sites/all/themes/custom/wearelanding/images/gray_plaid_bg.png');
	padding-left: 0;
	padding-right: 0;
	position: relative;
}

#name-and-slogan {
	margin-left: 60px;
}

#secondary-menu {
	height: 56px;
}

#secondary-menu li {
	padding: 0;
}

#secondary-menu li a {
	color: #FFFFFF;
	line-height: 56px;
	padding: 0 30px 0 60px;
	border-left: 1px solid #aaa;
	display: inline-block;
	background-position: 25px center;
	background-repeat: no-repeat;
	text-decoration: none;
}

#secondary-menu .menu-198 a {
	background-image: url('/sites/all/themes/custom/wearelanding/images/howitworks-icon.png');
}

#secondary-menu .menu-200 a {
	background-image: url('/sites/all/themes/custom/wearelanding/images/profile-icon.png');
}

#secondary-menu .menu-199 a {
	background-image: url('/sites/all/themes/custom/wearelanding/images/lock-icon.png');
}

#secondary-menu li a:hover {
	background-color: #15161B;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Merriweather Sans";
}

#header h1 {
	color: #FFFFFF;
}

#header h4 {
	color: #FFFFFF;
	font-weight: normal;	
}

#header p {
	line-height: 2em;
	font-size: 1em;
	color: #FFFFFF;
}

#header #block-block-1 {
	position: absolute;
	width: 320px;
	top: 145px;
	left: 60px;
}

#header #block-block-2 {
	position: absolute;
	width: 320px;
	top: 145px;
	right: 60px;
}

#header #block-block-2 input {
	width: 250px;
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	padding: 10px 15px;
	margin: 5px 0;
	color: rgba(255, 255, 255, 0.9);
}

#header #block-block-2 input:focus {
	outline: none;
	border-color: white;
}

#header #block-block-2 input[type="submit"] {
	background-color: #FF4534;
	border: none;
	border-bottom: 4px solid #C43525;
	width: 140px;
}

#header #block-block-2 p {
	line-height: 1.2em;
	font-size: 0.8em;
}

#header #block-block-2 p a {
	color: white;
}

#header #block-views-slideshow-block {
	position: absolute;
	top: 186px;
	left: 458px;
	width: 281px;
	height: 400px;
}

#header #block-views-slideshow-block h2 {
	margin-top: 42px;
	margin-bottom: 0;
	text-align: center;
	line-height: 1em;
	background-color: red;
	padding: 15px;
	color: white;
}

html body {
	font-width: 100%;
/* 	background-color: #1C1F26; */
}

html #logo {
	display: none;
}

html #site-name {
	float: left;
}

html #site-name a:link,
html #site-name a:link span,
html #site-name a:visited {
	color: #fff;
	font-size: 16px;
	font-size: 1.2rem;
}

html #site-name a:hover {
	text-decoration: none;
}

html #site-slogan {
	display: inline-block;
	color: #7B7C81;
	font-style: italic;
	font-weight: normal;
	text-transform: lowercase;
	font-size: 0.8em;
	padding: 1.45em 1.2em 1em;
}

html #content {
	background-color: white;
}

.region-header {
	background-image: url('/sites/all/themes/custom/wearelanding/images/header.jpg');
	background-repeat: no-repeat;
	background-position: bottom center;
	height: 528px;
}

article {
	width: 28%;
	margin: 40px 0% 0 4.5%;
	display: inline-block;
	position: relative;
	padding-top: 180px;
}

article .node-title {
	font-weight: normal;
}

article .node-title a {
	color: #181818;
	text-decoration: none;
}

article p {
	color: #A6A6A6;
	font-size: 0.8em;
}

article .node-readmore a {
	display: inline-block;
	padding: 8px 25px;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #959595;
	border-radius: 5px;
	border-bottom: 4px solid #787878;
	font-size: 0.8em;
}

article .node-readmore a:hover {
	text-decoration: underline;
}

.field-name-field-icon {
	position: absolute;
	top: 0px;
	left: 90px;
}

footer#footer {
	background-image: url('/sites/all/themes/custom/wearelanding/images/gray_plaid_bg.png');
	color: white;
	padding-left: 55px;
	position: relative;
}

footer #block-block-3 {
	float: right;
	padding-right: 60px;
	margin-bottom: 0;
}

footer #block-block-3 li {
	list-style: none;
	display: inline-block;
	float: left;
	padding: 0 8px 15px;
}

footer .block-menu {
	display: inline-block;
	margin-right: 40px;
}

footer .block-menu h2 {
	font-size: 0.8em;
	padding: 20px 15px 10px;
}
footer .block-menu li {	
	list-style: none;
	line-height: 1.2em;
}

footer .block-menu ul {
/* 	padding: 0; */
/* 	margin: 0; */
	margin: 0 ;
	padding-left: 16px;
}

footer .block-menu li a {
	color: #7A7F85;
	text-decoration: none;
	font-size: 0.7em;
}
#footer #block-menu-menu-footer-copyright-menu {
	float: right;
	clear: right;
	margin-right: 60px;
	margin-top: 35px;
	margin-bottom: 0;
}

#footer #block-menu-menu-footer-copyright-menu li {
	float: left;
	padding: 8px 10px;
}

#footer #copyright {
	position: absolute;
	top: 135px;
	right: 76px;
	color: #7A7F85;
	font-size: 0.7em;
}